@font-face {
    font-family: "Roboto Regular";
    src: url("./font-file/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Black";
    src: url("./font-file/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("./font-file/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("./font-file/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("./font-file/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Lightitalic";
    src: url("./font-file/Roboto/Roboto-Lightitalic.ttf");
}
